## Environment Variables
PORT=3001
JWT_KEY=supersecretkey_example

## Development Database (SQLite defaults require no configuration)
DEV_DB_DIALECT=sqlite
DEV_DB_STORAGE=data/development.sqlite
DEV_DB_LOGGING=false

## Testing Database (SQLite defaults require no configuration)
TEST_DB_DIALECT=sqlite
TEST_DB_STORAGE=data/test.sqlite
TEST_DB_LOGGING=false

## PostgreSQL profile
PROD_DB_USERNAME=postgres
PROD_DB_PASSWORD=postgres
PROD_DB_NAME=conduit
PROD_DB_HOSTNAME=127.0.0.1
PROD_DB_DIALECT=postgres
PROD_DB_LOGGING=false